.chart-container {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  text-align: center;

}

.container {
  width: 100%;
  height: 100%;


  display: flex;
  flex-direction: row;


  gap:30px;
}

.chart {
  width: 100%;
  height: auto;

}

.Rank {
  width: 30%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap : 10px;
}

.rank-card {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;

  border-radius: 12px;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  color: var(--text-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.rank-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.rank-card div {
  margin: 5px 0;
}

.rank-card .rank-position {
  font-size: 1em;
  color: var(--text-color)
}

.rank-card .rank-name {
  font-size: 0.9em;
  color: var(--text-color)
}

.rank-card .rank-value {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--text-color)
}

.StrategyCard {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  max-width: 500px;
  margin: 15px auto;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.StrategyCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.StrategyCard h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: var(--text-color);
  text-align: center;
}

.StrategyContent p {
  margin: 5px 0;
  font-size: 0.95em;
  line-height: 1.5;
  color: var(--text-color);
}