.dash-main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 5px;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden; /* 이상한 선 제거*/
}
    .dash-main::-webkit-scrollbar {
        display: none;
    }


.dash-main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    border-radius: 10px;
    background: rgba(237, 245, 250, 0.3);
    box-shadow: 0 4px 12px rgba(0.3, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 15px;
    overflow-y: auto;
}

    .dash-main-left::-webkit-scrollbar {
        display: none;
    }

.menu {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(6px);               
  -webkit-backdrop-filter: blur(6px);     
  box-shadow: 0 4px 12px rgba(0.2, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;

  font-size: 15px;
  color: inherit;
  font-weight: bold;
}

    .menu:hover {
    background-color: rgba(0,0,0,0.05);
    }

.dash-main-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: rgba(237, 245, 250, 0.3);
    box-shadow: 0 4px 12px rgba(0.2, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding: 15px;
    overflow-x: auto;
}