.frame {
    width: 100%;
    height: 100%;
    min-width: 1800px;
    max-width: 1900px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap:20px;
    justify-content: stretch;
    padding: 5px;
}

.frame-header,
.frame-footer,
.frame-main {
    width: 100%;    
}

.frame-main {
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.frame-main-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border: 1px solid black;
}

.frame-main-botton {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap:20px;
}

.frame-main-botton h2 {
    font-size: 1.2em;
    margin: 15px;
}

.frame-main-bottom-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.frame-main-bottom-left {
    width: 100%;
}

@media (max-width: 768px) {
    .frame{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        min-width: 0;
    }

    .frame-main {
        display: flex;
        flex-direction: column;
    }

    .frame-header {
        width: 100%;
        height: 100%;
    }

    .frame-main-right{
        display: flex;
        flex-direction: column;

    }
    .frame-main-right-center {
       height: 100px;
    }

    .frame-main-right-bottom {
       display: flex;
       flex-direction: column;

    }
}