.google-btn {
    width: 100%;           
    height: 100%;    
    overflow: hidden;      
    padding: 0;           
    background: none;    
    cursor: pointer;     
    display: inline-block;
    border: none;
}
